doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/salesforce-lightning-design-system.min.css')
    link(rel='stylesheet', href='/styles/custom.css')
    script(src="javascript/libs/jquery.min.js")
    script(src="javascript/libs/jquery.validate.min.js")
    script(src="javascript/libs/postmonger.js")
    script(src="javascript/customActivity.js")
    head
  meta(name='robots' content='noindex')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='keywords' content='dang nhap zalo, zalo web, dang nhap zalo web.')
  meta(name='description' content='Trang đăng nhập vào Zalo Web sử dụng chung tài khoản zalo trên mobile. Bạn cũng có thể đăng nhập bằng cách quét mã QR và dùng tài khoản facebook.')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  meta(charset='utf-8')
  link#favico(rel='icon' type='image/png' href='//stc.sp.zdn.vn/zaloid/client/images/favicon.png')
  link(href='https://stc-zaloid.zdn.vn/zaloid/client/main-5.3.5.css' rel='stylesheet')
  title &Dstrok;&abreve;ng nh&#x1EAD;p b&#x1EB1;ng t&agrave;i kho&#x1EA3;n Zalo
  body
    block content
